        * {
            margin: 0;
            padding: 0;
            text-decoration:none;
        }
        .content{
            position:relative;
        }
        .content img {
            width: 100%;
        }

        .bottom-btn {
            position: fixed;
            height: 64px;
            width: 100%;
            text-align: center;
            background: #2F9F79;
            bottom: 0px;
            opacity: 0.8;
            padding--top: 60px;
        }
        .bottom-btn a{
            line-height: 64px;
            
            font-family: "STHeiti","STKaiti","Microsoft YaHei";
            color: #fff;
            font-size: 24px;
            font-weight: 100;
        }